@import './fonts.css' layer(base); /* for custom fonts */

@import 'tailwindcss';

@theme {
	--font-*: initial;
	--font-heading: 'Libre Caslon Text', serif;
	--font-body: 'Lexend Deca', sans-serif;

	--color-brand-primary: #3FD0CC;
	--color-brand-dark-blue: #0a1e2b;
	--color-brand-gold: #928159;

}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@utility btn {
	@apply transition-colors duration-300 ease-linear inline-block;
}

@utility btn-primary {
	@apply bg-brand-primary text-brand-dark-blue font-light text-lg rounded-full px-9 py-2 hover:bg-brand-gold hover:text-white;
}

@utility btn-primary-small {
	@apply bg-brand-primary text-brand-dark-blue text-lg rounded-full px-6 py-1.5 hover:bg-brand-gold hover:text-white;
}

@layer base {
	html {
		@apply font-body antialiased;
	}

	[x-cloak] {
		@apply hidden!;
	}
}
