---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout title='Astro'>
	<Header />
	<div class="relative">
		<div class="relative z-30">
			<img src="/img/sustainability-image.webp" class="w-3/5 sm:w-3/4 md:w-2/3 lg:w-1/2 h-44 sm:h-70 md:h-80 lg:h-100 xl:h-130 2xl:h-140 object-cover absolute top-0 left-1/2 -translate-x-1/2 lg:translate-x-0 lg:left-0 object-bottom rounded-b-full" alt="">
			<div class="bg-brand-dark-blue/50 z-20 w-3/5 sm:w-3/4 md:w-2/3 lg:w-1/2 h-44 sm:h-70 md:h-80 lg:h-100 xl:h-130 2xl:h-140 object-cover absolute top-0 left-1/2 -translate-x-1/2 lg:translate-x-0 lg:left-0 rounded-b-full"></div>
			<div class="w-full sm:w-4/5 md:w-2/3 lg:w-1/2 text-center text-white relative z-30 lg:absolute left-0 top-8 lg:top-20 xl:top-26">
				<div class="w-4/5 sm:w-1/2 md:w-2/5 lg:w-2/3 2xl:w-3/5 mx-auto hidden lg:block">
					<h2 class="text-2xl sm:text-3xl md:text-4xl font-medium pb-5 md:pb-7">Sustainability</h2>
					<p class="font-light text-lg sm:text-xl lg:text-2xl xl:text-3xl">Sustainability is part of how we think about leadership and the future.</p>
				</div>
			</div>
		</div>
		<div class="container relative z-20 pt-44 sm:pt-68 pb-10 sm:pb-14 md:pt-80 lg:pt-20 lg:pb-20 xl:py-32">
			<div class="w-full lg:w-[90%] xl:w-[94%] 2xl:w-[90%] mx-auto">
				<div class="prose max-w-full prose-p:font-light prose-p:leading-6 sm:prose-p:leading-8 sm:prose-p:text-lg sm:prose-p:text-xl prose-h2:text-lg sm:prose-h2:text-xl md:prose-h2:text-2xl xl:prose-h2:text-3xl prose-headings:text-brand-gold prose-headings:font-medium prose-h2:leading-7 sm:prose-h2:leading-8 md:prose-h2:leading-10 prose-h3:mb-0 prose-h4:text-brand-dark-blue prose-h4:text-lg sm:prose-h4:text-xl md:prose-h4:text-2xl prose-h4:font-light text-center lg:text-left prose-h3:text-3xl prose-h3:text-brand-dark-blue">
					<div class="lg:w-[45%] xl:w-2/5 ml-auto">
						<h3 class="block lg:hidden pb-4 sm:pb-5">Sustainability</h3>
						<h4 class="pb-4 block lg:hidden">Sustainability is part of how we think about leadership and the future.</h4>
						<p>We work with senior leaders across the built environment—people shaping cities, infrastructure, and communities. More and more, they're asking how to lead in ways that respect the planet and the people on it. We're proud to support that shift.</p>
						<p>In our search assignments, we look for candidates who understand the importance of sustainable thinking—whether that's low-carbon design, circular construction, or long-term planning. We help our clients build leadership teams that take responsibility for the impact they make.</p>
						<p>We have calculated our current carbon footprint and have created science-based carbon targets for reducing our carbon emissions. We are committed to reducing our environmental footprint, promoting sustainable resource use, and partnering with suppliers who share our values.</p>
					</div>
					<div class="xl:w-4/5 xl:pt-5">
						<h2>We help build leadership teams that lead with vision, responsibility, and respect for the planet.</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<Footer />
</Layout>
