---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout title='Astro'>
	<Header />
	<div class='relative'>
		<img src="/img/bg-hero-home.webp" class="w-full h-full object-cover absolute inset-0" alt="">
		<div class="container relative z-20 min-h-160 lg:min-h-180 xl:min-h-240 flex justify-center items-center">
			<div class="md:w-4/5 xl:w-3/5 2xl:w-1/2 mx-auto text-center">
				<h1 class="text-white text-5xl tracking-tight pb-6 md:pb-8 lg:pb-11">Senior leadership. <span class="text-brand-primary block md:inline-block">Built on trust.</span></h1>
				<p class="md:text-lg lg:text-xl text-white font-light lg:px-16">We connect organizations in the built environment with exceptional senior talent — through a process that's open, personal, and committed to completion.</p>
			</div>
		</div>
	</div>
	<div class="py-16 xl:py-24 container">
		<div class="flex flex-col md:flex-row justify-between gap-7 sm:gap-10 md:gap-14 lg:gap-20 xl:gap-40 text-center md:text-left">
			<div class="md:w-1/2">
				<h2 class="text-2xl sm:text-3xl md:text-4xl font-medium leading-8 sm:leading-10 md:leading-12 md:pb-7 lg:pb-10">Finding Leaders. Shaping Strategy. Evaluating Markets.</h2>
				<img src="/img/process-image.webp" class="h-70 lg:h-98 w-auto md:ml-auto hidden md:block" alt="">
			</div>
			<div class="md:w-1/2 space-y-6">
				<p class="font-light sm:text-lg lg:text-xl">We specialise in <a href="/" class="underline btn hover:text-black/60">Executive Search</a> for organizations shaping the built environment — from infrastructure and energy to property and construction.</p>
				<p class="font-light sm:text-lg lg:text-xl">Our <a href="/" class="underline btn hover:text-black/60">Leadership Consulting</a> helps clients align strategy, structure, and talent to drive performance and resilience.</p>
				<p class="font-light sm:text-lg lg:text-xl">And through our <a href="/" class="underline btn hover:text-black/60">Industry Intelligence</a>, we deliver sharp, sector-specific insight into leadership structures, pay trends, and market shifts — helping clients stay ahead in a fast-moving world.</p>
				<a href="/" class="btn btn-primary-small">What we do</a>
			</div>
		</div>
	</div>
	<div class="bg-brand-dark-blue">
		<div class="py-16 xl:py-24 container">
			<div class="flex flex-col md:flex-row justify-between gap-7 sm:gap-10 md:gap-14 lg:gap-20 xl:gap-40 text-white text-center md:text-left">
				<div class="md:w-1/2">
					<div>
						<h2 class="text-2xl sm:text-3xl md:text-4xl font-medium leading-8 sm:leading-10 md:leading-12 md:pb-7 lg:pb-10">An Extension of Your Business. A Partner You Can Trust.</h2>
						<a href="/" class="btn btn-primary-small hidden md:inline-block">About Us</a>
					</div>
				</div>
				<div class="md:w-1/2 space-y-6">
					<p class="font-light sm:text-lg lg:text-xl">Our commitment to <a href="/" class="underline btn hover:text-brand-gold">Equality, Diversity, and Inclusion</a> runs through every search we lead — helping clients build teams that reflect the world they serve.</p>
					<p class="font-light sm:text-lg lg:text-xl">At Harcourt Michaels we care deeply about <a href="/" class="underline btn hover:text-brand-gold">Sustainability</a>, not just in the projects our clients deliver, but in the way we work and the legacy we leave.</p>
					<p class="font-light sm:text-lg lg:text-xl">And behind it all is Our <a href="/" class="underline btn hover:text-brand-gold">Leadership Team</a> that brings experience, insight, and a forward-thinking approach to the built environment.</p>
					<a href="/" class="btn btn-primary-small inline-block md:hidden">About Us</a>
				</div>
			</div>
		</div>
	</div>
	<div class="relative">
		<img src="/img/global-reach-image.webp" class="w-full sm:w-4/5 md:w-3/4 lg:w-1/2 h-68 sm:h-auto sm:max-h-80 md:max-h-86 lg:max-h-140 object-cover absolute top-0 left-1/2 -translate-x-1/2 lg:translate-x-0 lg:left-0 object-bottom" alt="">
		<div class="container relative z-20 pt-8 pb-14 sm:py-20 xl:py-32">
			<div class="w-[90%] sm:w-full lg:w-[90%] mx-auto flex flex-col lg:flex-row gap-32 xs:gap-40 lg:gap-20 justify-between">
				<di class="w-5/6 sm:w-1/2 lg:w-2/5 2xl:w-1/3 text-center text-white mx-auto lg:mx-0">
					<h2 class="text-2xl sm:text-3xl md:text-4xl font-medium pb-5 md:pb-7">Global reach.</h2>
					<p class="font-light text-lg sm:text-xl lg:text-2xl xl:px-10 2xl:px-0">Helping businesses shape not only their future, but also the future of the planet.</p>
				</di>
				<div class="lg:w-2/5 xl:w-1/3">
					<h2 class="text-2xl sm:text-3xl md:text-4xl font-medium pb-7 md:pb-10 text-brand-gold">Sector expertise</h2>
					<ul class="border-t border-brand-gold flex flex-col">
						<li class="border-brand-gold border-b py-4 md:py-5 font-medium text-lg md:text-xl lg:text-2xl md:font-light hover:text-brand-gold btn">
							<a href="/" class="flex justify-between gap-3 pr-1 items-center">
									Building
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-brand-gold">
									<path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
								</svg>
							</a>
						</li>
						<li class="border-brand-gold border-b py-4 md:py-5 font-medium text-lg md:text-xl lg:text-2xl md:font-light hover:text-brand-gold btn">
							<a href="/" class="flex justify-between gap-3 pr-1 items-center ">
								Infrastructure
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-brand-gold">
									<path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
								</svg>
							</a>
						</li>
						<li class="border-brand-gold border-b py-4 md:py-5 font-medium text-lg md:text-xl lg:text-2xl md:font-light hover:text-brand-gold btn">
							<a href="/" class="flex justify-between gap-3 pr-1 items-center ">
								Environment
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-brand-gold">
									<path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
								</svg>
							</a>
						</li>
						<li class="border-brand-gold border-b py-4 md:py-5 font-medium text-lg md:text-xl lg:text-2xl md:font-light hover:text-brand-gold btn">
							<a href="/" class="flex justify-between gap-3 pr-1 items-center ">
								Energy
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-brand-gold">
									<path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
								</svg>
							</a>
						</li>
						<li class="border-brand-gold border-b py-4 md:py-5 font-medium text-lg md:text-xl lg:text-2xl md:font-light hover:text-brand-gold btn">
							<a href="/" class="flex justify-between gap-3 pr-1 items-center">
								Advisory
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-brand-gold">
									<path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
								</svg>
							</a>
						</li>
						<li class="border-brand-gold border-b py-4 md:py-5 font-medium text-lg md:text-xl lg:text-2xl md:font-light hover:text-brand-gold btn">
							<a href="/" class="flex justify-between gap-3 pr-1 items-center ">
								Property
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-brand-gold">
									<path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
								</svg>
							</a>
						</li>
						<li class="border-brand-gold border-b py-4 md:py-5 font-medium text-lg md:text-xl lg:text-2xl md:font-light hover:text-brand-gold btn">
							<a href="/" class="flex justify-between gap-3 pr-1 items-center ">
								Corporate
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-brand-gold">
									<path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="relative">
		<img src="/img/bg-facts.webp" class="w-full h-full absolute inset-0 object-cover z-10" alt="">
		<div class="absolute inset-0 z-20 bg-brand-dark-blue/50"></div>
		<div class="container relative z-30 py-16 xl:py-24 text-brand-dark-blue">
			<div class="grid gap-6 sm:gap-8 xl:gap-14 lg:grid-cols-2 lg:auto-rows-min">
				<div class="bg-brand-primary p-5 sm:p-8 xl:p-10 rounded-3xl">
					<h2 class="font-medium tracking-tight text-2xl sm:text-3xl xl:text-4xl pb-4 sm:pb-6 xl:pb-8"><span class="text-5xl sm:text-6xl xl:text-7xl">40+</span> countries</h2>
					<p class="text-lg sm:text-xl font-light tracking-tight">We've led assignments in over 40 countries, helping clients move senior talent across borders with confidence. Our team understands the cultural, commercial, and strategic implications of global leadership moves — and how to make them work.</p>
				</div>
				<div class="lg:row-span-2 bg-brand-gold p-5 sm:p-8 xl:p-10 rounded-3xl">
					<h2 class="font-medium tracking-tight text-2xl sm:text-3xl xl:text-4xl pb-4 sm:pb-6 xl:pb-8"><span class="text-5xl sm:text-6xl lg:text-[150px] xl:text-[175px] lg:block">800+</span> completed assignments</h2>
					<p class="text-lg sm:text-xl font-light tracking-tight">Our team has delivered over 800 senior-level searches across the built environment — spanning directors in infrastructure, energy, and property was well as corporate leadership roles such as CFOs, CIOs, HR, and marketing professionals. Every search is handled with care and clarity, ensuring the right leaders for the right challenges.</p>
				</div>
				<div class="bg-white p-5 sm:p-8 xl:p-10 rounded-3xl">
					<h2 class="font-medium tracking-tight text-2xl sm:text-3xl xl:text-4xl pb-4 sm:pb-6 xl:pb-8"><span class="text-5xl sm:text-6xl xl:text-7xl">90+</span> repeat business</h2>
					<p class="text-lg sm:text-xl font-light tracking-tight">90% of our clients have partnered with us for <span class="font-bold">more than five years</span> — a testament to trust and results. Some relationships span over two decades. We don't just deliver searches; we become an extension of your business, building partnerships that last.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container py-20 xl:py-26">
		<div class="lg:w-3/4 xl:w-2/3 2xl:w-3/5 mx-auto text-center">
			<h3 class="text-2xl lg:text-3xl leading-10 lg:leading-12 font-heading pb-7">“Personable, effective, and a true partner—Harcourt Michaels has helped us attract outstanding talent, vital to our strategy in a tough market.”</h3>
			<span class="text-brand-gold text-xl">CEO, Global Consulting Engineer</span>
		</div>
	</div>
	<Footer />
</Layout>
