---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout title='Astro'>
	<Header />
	<div class="bg-brand-dark-blue">
		<div class="container">
			<div class="relative pt-60 sm:pt-80 lg:pt-36 xl:pt-44 xl:pt-52 pb-16 lg:pb-32 xl:pb-40">
				<img src="/img/bg-hero-what-we-do.webp" class="w-full z-20 sm:w-3/4 md:w-2/3 lg:w-[45%] 2xl:w-2/5 h-52 sm:h-70 lg:h-140 xl:h-180 object-cover absolute top-0 right-0 lg:right-8 xl:right-6 2xl:right-5 sm:-translate-x-1/6 md:-translate-x-1/4 lg:translate-x-0 rounded-b-full" alt="">
				<div class="bg-brand-dark-blue/70 lg:bg-brand-dark-blue/50 z-20 w-full sm:w-3/4 md:w-2/3 lg:w-[45%] 2xl:w-2/5 h-52 sm:h-70 lg:h-140 xl:h-180 object-cover absolute top-0 right-0 lg:right-8 xl:right-6 2xl:right-5 sm:-translate-x-1/6 md:-translate-x-1/4 lg:translate-x-0 rounded-b-full"></div>
				<div class="lg:w-2/5 xl:w-[45%] text-center lg:text-left">
					<h3 class="text-brand-gold font-medium text-2xl pb-4 lg:pb-1">What we do</h3>
					<p class="text-white text-lg lg:text-xl xl:text-2xl font-light lg:font-medium leading-8 xl:leading-10">We specialize in executive search and offer leadership consulting and industry intelligence to help organizations shaping the built environment lead with insight, confidence, and resilience.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="relative bg-brand-dark-blue">
		<div class="absolute inset-0 w-full h-1/2 z-10 bg-[linear-gradient(0deg,rgba(149,128,83,0)_0%,rgba(149,128,83,0.35)_40.87%,rgba(149,128,83,0.35)_61.06%,rgba(149,128,83,0)_100%)]"></div>
		<div class="container relative z-20">
			<div class="flex flex-col lg:flex-row gap-5 lg:gap-0 xl:divide-x divide-white text-white font-light justify-center lg:text-xl text-center pt-20 sm:pt-24 pb-10 sm:pb-14 lg:pt-48 lg:pb-28 xl:pt-60 2xl:pt-68 xl:pb-32">
				<a href="/what-we-do#executive-search" class="lg:px-6 underline lg:no-underline hover:text-brand-gold btn">Executive Search</a>
				<a href="/what-we-do#leadership-consulting" class="lg:px-6 underline lg:no-underline hover:text-brand-gold btn">Leadership Consulting</a>
				<a href="/what-we-do#industry-intelligence" class="lg:px-6 underline lg:no-underline hover:text-brand-gold btn">Industry Intelligence</a>
			</div>
		</div>
		<div class="relative z-30">
			<div class="relative">
				<div class="bg-[linear-gradient(160.91deg,#3FD0CC_30.97%,#958053_82.71%)] w-full sm:w-3/4 md:w-2/3 lg:w-1/2 h-48 sm:h-60 lg:h-100 xl:h-110 2xl:h-130 object-cover absolute top-0 left-1/2 -translate-x-1/2 lg:translate-x-0 lg:left-0 object-bottom rounded-b-full">
					<div class="w-full sm:w-4/5 md:w-2/3 lg:w-full text-center text-white relative z-40 lg:absolute left-0 top-8 lg:top-14 xl:top-20 2xl:top-24">
						<div class="w-4/5 sm:w-1/2 md:w-2/5 lg:w-3/4 2xl:w-2/3 mx-auto hidden lg:block">
							<h2 class="text-2xl sm:text-3xl md:text-4xl font-medium pb-5 xl:pb-7">Executive Search</h2>
							<p class="font-light text-lg sm:text-xl lg:text-2xl 2xl:text-3xl text-brand-dark-blue leading-8 xl:leading-9 2xl:leading-11">We find senior leaders who bring more than just experience—they bring energy, vision, and the ability to make things happen</p>
						</div>
					</div>
				</div>
			</div>
			<div id="executive-search" class="container relative z-50 w-full pb-16 sm:pb-24 lg:pb-36">
				<div class="flex flex-col-reverse lg:flex-row gap-10 sm:gap-14 lg:gap-20 justify-between items-end">
					<div class="sm:w-2/3 lg:w-2/5 xl:w-1/3 mx-auto lg:ml-auto">
						<img src="/img/process-implement.webp" class="w-full h-auto" alt="">
					</div>
					<div class="lg:w-[45%] 2xl:w-2/5 pt-44 sm:pt-60 lg:pt-28 xl:pt-36 2xl:pt-64 space-y-11 sm:space-y-16 lg:space-y-24 xl:space-y-32">
							<div class="prose max-w-full prose-p:text-white prose-p:font-light prose-p:leading-6 sm:prose-p:leading-8 sm:prose-p:text-lg sm:prose-p:text-xl prose-p:lg:text-2xl prose-h2:text-lg sm:prose-h2:text-xl md:prose-h2:text-2xl xl:prose-h2:text-3xl prose-headings:text-brand-gold prose-headings:font-medium prose-h2:leading-7 sm:prose-h2:leading-8 md:prose-h2:leading-10 prose-h3:mb-0 prose-h4:text-white md:prose-h4:text-xl lg:prose-h4:text-2xl prose-h4:font-light text-center lg:text-left prose-h3:text-[26px] md:prose-h3:text-3xl prose-h3:text-white">
							<div>
								<h3 class="block lg:hidden pb-4 sm:pb-5">Executive Search</h3>
								<h4 class="pb-4 block lg:hidden">We find senior leaders who bring more than just experience—they bring energy, vision, and the ability to make things happen</h4>
								<p>Whether you're hiring a CEO, MD, or Practice Lead, we know what great leadership looks like in complex, project-driven environments.</p>
								<p>At Harcourt Michaels we work closely with you to understand your business, culture, and goals. Then we go out and find people who don't just fit—they elevate what's possible.</p>
							</div>
						</div>
						<div class="bg-brand-primary rounded-xl p-9 xl:p-12 pt-7 xl:w-5/6">
							<h4 class="text-lg xs:text-xl md:text-2xl font-medium text-white pb-2 xs:pb-3 md:pb-4">Implement</h4>
							<p class="font-light xs:text-lg md:text-xl text-brand-dark-blue">We put in place an achievable strategy with agreed timescales. We consider the geographic implications and whether the desired skills can be found locally, nationally or internationally, implementing a structured process to identify high achievers with the right skill set and experience.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="leadership-consulting">
		<div class="relative">
			<img src="/img/bg-leadership-consulting.webp" class="absolute inset-x-0 -top-px w-full h-28 sm:h-40 md:h-80 lg:h-85 xl:h-100 2xl:h-110 object-bottom" alt="">
			<div class="container pt-36 sm:pt-48 md:py-16 relative z-20 md:flex items-center  md:h-80 lg:h-85 xl:h-100 2xl:h-110">
				<div class="md:w-2/3 lg:w-3/5 xl:w-1/2 2xl:w-[40%] mx-auto text-center md:text-white">
					<h2 class="text-2xl sm:text-3xl md:text-4xl font-medium pb-5 xl:pb-7">Leadership <br class="hidden xl:block"/> Consulting</h2>
					<p class="text-lg lg:text-xl font-light">We help clients shape leadership strategies that support growth, change, and resilience. From acquiring new businesses to strengthening senior teams, we bring clarity and practical insight to every step.</p>
				</div>
			</div>
		</div>
		<div class="container pt-10 md:pt-14 pb-16 md:pb-20 text-brand-dark-blue">
			<div class="flex flex-col lg:flex-row gap-6 lg:justify-between">
				<div class="lg:w-1/3 bg-brand-primary rounded-2xl px-7 2xl:px-10 pt-9 lg:pt-11 pb-10 lg:pb-14 2xl:pb-16">
					<img src="/img/icon-acquisition-strategy.webp" class="w-auto h-16 lg:h-20" alt="">
					<h2 class="pt-4 text-2xl sm:text-3xl xl:text-4xl font-medium pb-5 xl:pb-7">Acquisition <br/> Strategy</h2>
					<p class="xl:text-xl font-light">We help clients identify businesses that make strategic sense to acquire—organisations with complementary services, cultural synergy, and the potential to unlock new growth. Whether you're expanding capability, entering new markets, or strengthening your offer, we bring insight and discretion to every step of the process.</p>
				</div>
				<div class="lg:w-1/3 bg-brand-dark-blue rounded-2xl px-7 2xl:px-10 pt-9 lg:pt-11 pb-10 lg:pb-14 2xl:pb-16 text-white lg:mt-20">
					<img src="/img/icon-interin-management.webp" class="w-auto h-16 lg:h-20" alt="">
					<h2 class="pt-4 text-2xl sm:text-3xl xl:text-4xl font-medium pb-5 xl:pb-7">Interim <br/> Management</h2>
					<p class="xl:text-xl font-light">When you need someone to step in quickly, we connect you with experienced interim leaders who bring stability and momentum. They’re ready to lead through change, keep things moving, and deliver results.</p>
				</div>
				<div class="lg:w-1/3 bg-brand-gold rounded-2xl px-7 2xl:px-10 pt-9 lg:pt-11 pb-10 lg:pb-14 2xl:pb-16 lg:mb-20">
					<img src="/img/icon-leadership-assessment.webp" class="w-auto h-16 lg:h-20" alt="">
					<h2 class="pt-4 text-2xl sm:text-3xl xl:text-4xl font-medium pb-5 xl:pb-7">Leadership <br/> Assessment</h2>
					<p class="xl:text-xl font-light">We offer psychometric testing to give a clear, objective view of leadership potential. One of our Directors is a British Psychological Society-qualified assessor, trained to administer and interpret a suite of psychometric tools with rigour and discretion.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="industry-intelligence" class="relative min-h-48 sm:min-h-70 md:min-h-100 lg:min-h-110 xl:min-h-150 flex items-center justify-center">
		<img src="/img/shape-white.webp" class="absolute -top-px inset-x-0 w-full object-cover object-bottom h-auto z-30" alt="">
		<img src="/img/bg-industry-intelligence.webp" class="absolute inset-0 w-full h-full object-cover object-top" alt="">
		<div class="absolute z-20 bg-brand-dark-blue/50 inset-0"></div>
		<img src="/img/shape-primary.png" class="absolute -bottom-px inset-x-0 w-full object-cover object-top h-auto z-30 rotate-180" alt="">
		<div class="container relative z-40">
			<h2 class=" hidden md:block md:text-4xl font-medium text-white text-center">Industry Intelligence</h2>
		</div>
	</div>

	<Footer />
</Layout>

