<div class="bg-brand-dark-blue">
	<div class="container py-14 md:py-16 xl:py-20">
		<div class="flex flex-col lg:flex-row gap-10 xl:gap-14 justify-between">
			<a href="/" class="lg:w-1/4 pt-2.5">
				<img src="/img/logo.png" class="h-4 sm:h-5 md:h-6 mx-auto lg:mx-0" alt="">
			</a>
			<div class="lg:w-3/4 text-center lg:text-left">
				<h2 class="text-white text-2xl sm:text-3xl xl:text-4xl pb-10 xl:pb-14 tracking-tight">
					Building teams that build a better world <span class="text-brand-gold block">Let's connect.</span>
				</h2>
				<ul class="grid sm:grid-cols-2 xl:grid-cols-[2fr_2fr_1fr] text-white font-light text-lg sm:text-xl xl:text-2xl tracking-tight space-y-2 sm:space-y-3 pb-10 xl:pb-14">
					<li class="btn hover:text-brand-gold">
						<a href="/">
							About us
						</a>
					</li>
					<li class="btn hover:text-brand-gold">
						<a href="/">
							What we do
						</a>
					</li>
					<li class="btn hover:text-brand-gold">
						<a href="/sector">
							Sectors
						</a>
					</li>
					<li class="btn hover:text-brand-gold">
						<a href="/">
							Executive Search
						</a>
					</li>
					<li class="btn hover:text-brand-gold">
						<a href="/">
							Executive Search
						</a>
					</li>
					<li class="btn hover:text-brand-gold">
						<a href="/contact">
							Contact
						</a>
					</li>
					<li class="btn hover:text-brand-gold">
						<a href="/">
							Sustainability
						</a>
					</li>
					<li class="btn hover:text-brand-gold">
						<a href="/">
							Leadership Consulting
						</a>
					</li>
					<li class="btn hover:text-brand-gold">
						<a href="/">
							Linkedin
						</a>
					</li>
					<li class="btn hover:text-brand-gold">
						<a href="/">
							Equality, Diversity & Inclusion
						</a>
					</li>
					<li class="btn hover:text-brand-gold">
						<a href="/">
							Industry Intelligence
						</a>
					</li>
				</ul>
				<div class="flex flex-col sm:flex-row justify-center lg:justify-start gap-2 sm:gap-10 md:gap-12 text-xs md:text-sm items-center font-light text-brand-gold tracking-tight">
					<a href="/" class="hover:text-white btn">Privacy Policy</a>
					<span class="">© 2025 Harcourt Micheals Ltd</span>
					<span class="">Website by 2pmDesign.com</span>
				</div>
			</div>
		</div>
	</div>
</div>