<!-- MOBILE MENU -->
 <div class="absolute z-50 inset-0 bg-brand-dark-blue hidden">
	<div class="container py-6">
		<div class="flex justify-between items-center">
			<a href="/">
				<img src="/img/logo.png" class="h-4 sm:h-5 md:h-6" alt="">
			</a>
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
				</svg>
			</div>
		</div>
		<ul class="flex flex-col text-center text-white font-light text-xl tracking-tight space-y-3 py-14">
			<li class="btn hover:text-brand-gold">
				<a href="/">
					About us
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/">
					Leadership Team
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/">
					Sustainability
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/">
					Equality, Diversity & Inclusion
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/">
					What we do
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/">
					Executive Search
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/">
					Leadership Consulting
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/">
					Industry Intelligence
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/">
					Sectors
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/">
					Contact
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/">
					Linkedin
				</a>
			</li>
		</ul>
		<div class="flex flex-col justify-center gap-2.5 text-sm items-center font-light text-brand-gold tracking-tight">
			<a href="/" class="hover:text-white btn">Privacy Policy</a>
			<span class="">© 2025 Harcourt Micheals Ltd</span>
			<span class="">Website by 2pmDesign.com</span>
		</div>
	</div>
 </div>

<div class="absolute z-50 inset-x-0 top-0">
	<div class="container pt-6 md:pt-10 xl:pt-14">
		<div class="flex justify-between gap-16 items-center">
			<a href="/">
				<img src="/img/logo.png" class="h-4 sm:h-5 md:h-6" alt="">
			</a>
			<ul class="border border-white rounded-full py-2 px-12 bg-brand-dark-blue/50 flex gap-10 text-white text-lg">
				<li class="relative">
					<a href="/" class="btn hover:text-brand-gold">
						About us
					</a>
					<!-- MEGAMENU -->
					<div class="absolute top-14 -left-10 bg-brand-gold p-3 h-auto w-40 hidden">
						<svg xmlns="http://www.w3.org/2000/svg" class="size-12 text-brand-gold absolute -top-6 left-1/2 -translate-x-1/2 z-20" width="800" height="800" fill="currentColor" viewBox="0 0 15 15"><path fill="currentColor" d="M7.5 4.793 3.293 9h8.414z"/></svg>
						<ul class="flex flex-col text-black font-light text-lg w-full space-y-3">
							<li>
								<a href="/" class="hover:text-white btn">
									Leadership Team
								</a>
							</li>
							<li>
								<a href="/" class="hover:text-white btn">
									Equality, Diversity & Inclusion
								</a>
							</li>
							<li>
								<a href="/" class="hover:text-white btn">
									Sustainability
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="/" class="btn hover:text-brand-gold">
						What we do
					</a>
				</li>
				<li>
					<a href="/" class="btn hover:text-brand-gold">
						Sectors
					</a>
				</li>
				<li>
					<a href="/" class="btn hover:text-brand-gold">
						Contact
					</a>
				</li>
			</ul>
			<a href="/" class="btn btn-primary hidden lg:block">Executive Search</a>
			<div class="block lg:hidden">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
				</svg>
			</div>
		</div>
	</div>
</div>
