<div class="absolute z-50 inset-x-0 top-0">
	<div class="container pt-6 md:pt-10 xl:pt-14">
		<div class="flex flex-col sm:flex-row justify-between gap-4 items-center">
			<a href="/">
				<img src="/img/logo.png" class="h-5 md:h-6" alt="">
			</a>
			<a href="/" class="btn btn-primary">Executive Search</a>
		</div>
	</div>
</div>
