<!-- MOBILE MENU -->
<div x-data="{ mobileMenuOpen: false }" x-effect="document.body.classList.toggle('overflow-hidden', mobileMenuOpen)">
 <div
	x-show="mobileMenuOpen"
	x-transition:enter="transition ease-out duration-300"
	x-transition:enter-start="opacity-0"
	x-transition:enter-end="opacity-100"
	x-transition:leave="transition ease-in duration-200"
	x-transition:leave-start="opacity-100"
	x-transition:leave-end="opacity-0"
	class="fixed z-60 inset-0 bg-brand-dark-blue">
	<div class="container py-6">
		<div class="flex justify-between items-center">
			<a href="/">
				<img src="/img/logo.png" class="h-4 sm:h-5 md:h-6" alt="">
			</a>
			<button @click="mobileMenuOpen = false">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
				</svg>
			</button>
		</div>
		<ul class="flex flex-col text-center text-white font-light text-xl tracking-tight space-y-3 py-14">
			<li class="btn hover:text-brand-gold">
				<a href="/about-us">
					About us
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/about#leadership">
					Leadership Team
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/about#sustainability">
					Sustainability
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/about#equality">
					Equality, Diversity & Inclusion
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/what-we-do">
					What we do
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/what-we-do#executive-search">
					Executive Search
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/what-we-do#leadership-consulting">
					Leadership Consulting
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/what-we-do#industry-intelligence">
					Industry Intelligence
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/sector">
					Sectors
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="/contact">
					Contact
				</a>
			</li>
			<li class="btn hover:text-brand-gold">
				<a href="https://www.linkedin.com/">
					Linkedin
				</a>
			</li>
		</ul>
		<div class="flex flex-col justify-center gap-2.5 text-sm items-center font-light text-brand-gold tracking-tight">
			<a href="/" class="hover:text-white btn">Privacy Policy</a>
			<span class="">© 2025 Harcourt Micheals Ltd</span>
			<span class="">Website by 2pmDesign.com</span>
		</div>
	</div>
 </div>

 <div
	x-data="{
		lastScrollY: 0,
		hidden: false,
		handleScroll() {
			const currentScrollY = window.scrollY;
			if (currentScrollY > this.lastScrollY && currentScrollY > 100) {
				this.hidden = true;
			} else {
				this.hidden = false;
			}
			this.lastScrollY = currentScrollY;
		}
	}"
	x-init="window.addEventListener('scroll', () => handleScroll())"
	:class="hidden ? '-translate-y-full' : 'translate-y-0'"
	class="fixed start-0 z-50 inset-x-0 top-0 transition-transform duration-300">
	<div class="container xl:max-w-[1300px] 2xl:max-w-[1580px] px-3 mx-auto pt-6 md:pt-10 xl:pt-14">
		<div class="flex justify-between gap-16 items-center">
			<a href="/" class="shrink-0">
				<img src="/img/logo.png" class="h-4 sm:h-5 md:h-6" alt="">
			</a>
			<ul class="hidden xl:flex border border-[#9aa1ad] rounded-full py-1.5 px-12 bg-brand-dark-blue/50 gap-10 text-white text-lg">
				<li class="relative group">
					<a href="/about" class="btn hover:text-brand-gold relative z-60">
						About us
					</a>
					<!-- MEGAMENU -->
					<div class="absolute top-0 pt-14 -left-10 h-auto w-40 opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto">
						<div class="bg-brand-gold p-3">
							<svg xmlns="http://www.w3.org/2000/svg" class="size-12 text-brand-gold absolute top-7 left-1/2 -translate-x-1/2 z-20" width="800" height="800" fill="currentColor" viewBox="0 0 15 15"><path fill="currentColor" d="M7.5 4.793 3.293 9h8.414z"/></svg>
							<ul class="flex flex-col text-black font-light text-lg w-full space-y-3">
								<li>
									<a href="/about#leadership" class="hover:text-white btn">
										Leadership Team
									</a>
								</li>
								<li>
									<a href="/about#equality" class="hover:text-white btn">
										Equality, Diversity & Inclusion
									</a>
								</li>
								<li>
									<a href="/about#sustainability" class="hover:text-white btn">
										Sustainability
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="/what-we-do" class="btn hover:text-brand-gold">
						What we do
					</a>
				</li>
				<li>
					<a href="/sector" class="btn hover:text-brand-gold">
						Sectors
					</a>
				</li>
				<li>
					<a href="/contact" class="btn hover:text-brand-gold">
						Contact
					</a>
				</li>
			</ul>
			<a href="/" class="btn btn-primary hidden xl:block !py-1.5">Executive Search</a>
			<button @click="mobileMenuOpen = true" class="block xl:hidden">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 lg:size-8 text-white">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
				</svg>
			</button>
		</div>
	</div>
 </div>
</div>
